h3{
    color: brown;
}
p{
    color: brown;
}
button{
    color: brown;
    background-color:aqua;
}
body{
    background-color: aqua;
} 
/* --------------------------------------------------------------------------------- */

 #box{
    background-color: blue;
}
.tenthclass{
    color: red;
    background-color: aqua;
}
.vikas{
    color: blueviolet;
}
#singhid{
    color:brown;
} 

/* ------------------------------------------------------------------------------------- */

 .heding{
    color: red;
}
button{
    background-color: green;
} 
/*----------------------------------------------------------------------------------------*/

p{
    text-align: justify;
    text-transform: capitalize;
    text-decoration: line-through;
    text-decoration: underline;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
}

#Paragraph{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    color:red;
}

#outer{
    font-size: 25px;
    color: red;
}

#inner{
    font-size: 10px;
    color: red;
}

/* ----------------------------------------------------------------------------------------------------------------- */
