.div{
    background-color: cadetblue;
    
    display: flex;
    
    justify-content: space-evenly;
}

#div1{
    height: 400px;
    width: 400px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#div2{
    height: 200px;
    width: 200px;
    background-color: yellow;
}